div#footer {
    background: #002b5d;
    color: white;
    padding-bottom: 65px;
    padding-top: 65px;
}

div#footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

div#footer ul {
    list-style: none;
    padding: 0;
}

.restons-co ul li {
    margin-bottom: 23px;
    position: relative;
}

p.num {
    font-size: 29px;
    color: #08a1a3;
    font-weight: 700;
}

.lien-utiles ul li::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #08a1a3;
    margin-right: 7px;
}

.lien-utiles ul li {
    margin-bottom: 10px;
}

li.map::before {
    content: "\f041";
    font-family: 'FontAwesome';
    margin-right: 7px;
    font-size: 31px;
    color: #08a1a3;
    /* position: absolute; */
    /* right: 92%; */
    position: relative;
    top: 18px;
}

span.ss {
    margin-left: 25px;
}

.restons-co ul li::after {
    content: "";
    width: 80%;
    height: 0.3%;
    position: absolute;
    background: #ffffff1c;
    bottom: -15px;
    left: 0;
}


div#nos-metiers .bloc-title h2 {
    text-align: left;
}

li.t-footer::before {
    content: "\f095";
    font-family: 'FontAwesome';
    color: #08a1a3;
    font-size: 23px;
}

li.t-footer::before {
    content: "\f095";
    font-family: 'FontAwesome';
    color: #08a1a3;
}

li.m-footer::before {
    content: "\f003";
    font-family: 'FontAwesome';
    margin-right: 9px;
    color: #08a1a3;
    font-size: 20px;
}

/*.restons-co ul li::after {
    content: "";
    background: white;
    width: 276px;
    height: 0.1px;
    position: absolute;
    left: 0;
    top: 30px;
}*/

.copyright {
    background: #033269;
}

.rs-copyright ul li {
    list-style: none;
    display: inline-block;
    margin-right: 11px;
}

.rs-copyright ul li a {
    color: white;
    font-size: 16px;
}

.rs-copyright {
    text-align: right;
    position: relative;
    top: 16px;
}

.txt-copy {
    position: relative;
    top: 16px;
    color: white;
}

.sect-logo {
    background: #033269;
    text-align: center;
    margin-top: 40px;
}



