@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}

<<<<<< HEAD main {
    =======
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* call to actions */

.bt-m-msg {
    background: #279a9b;
    color: #033269;
    padding: 10px;
    text-align: center;
}

span.mobile-sss {
    display: none;
}

.bt-m-call {
    background: #a9a7a7;
    color: #033269;
    padding: 10px;
    text-align: center;
}

.btn-mobile .col-6 {
    padding: 0;
}

.btn-mobile {
    position: fixed;
    bottom: 0;
    z-index: 999 !important;
    width: 100%;
    display: none;
}


/*detail project css*/

.mission h3 {
    color: #079488;
    font-weight: bold;
    font-size: 34px;
}

.dtt-projects ul {
    list-style: none;
    padding: 0;
}

span.title-dtt-project {
    font-weight: bold;
    color: #079488;
}

.dtt-projects ul li {
    margin-bottom: 30px;
    font-size: 14px;
}

.dtt-projects {
    margin-top: 31px;
}

.mission h3::after {
    content: " ";
    width: 8%;
    height: 2%;
    background: #079488;
    position: absolute;
    top: 20%;
    left: 4%;
}


/*fin detail project*/

main {
    /* max-width: 1366px; */
    margin: auto;
    background-color: #ffffff;
    /* font-family: "Poppins Regular", sans-serif; */
    font-size: 14px;
    color: #FFFFFF;
    float: none !important;
}

.container {
    /*max-width: 1366px;*/
}

.navbar {
    background: #002B5D !important;
    margin-bottom: 0;
    display: block;
    top: 0;
    padding-top: 13px;
    width: 100%;
    /*padding-left: 125px;*/
}

#pc-navbar {
    position: fixed;
    z-index: 50;
}

#pc-navbar .navbar-nav {
    margin-left: 125px;
}

#mobile-navbar {
    position: fixed;
    z-index: 50;
    margin-bottom: 0;
}

#navbar {
    position: fixed;
    z-index: 50;
}

.front {
    position: relative;
}

.navbar-nav {
    /*width: 100%;*/
}

img.plus-md {
    width: 50px !important;
}

div#metiers .col-lg-4 {
    max-width: 100% !important;
}

.navbar-nav ul {
    margin-left: 125px;
    /*width: 100%;*/
}

.nav-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.caro {
    width: 80%;
    margin: 0 auto;
}

a.map-mobile p {
    font-size: 13px;
}

a.map-mobile img {
    width: 21%;
    /* margin-top: 2px; */
    padding-top: 5px;
    padding-bottom: 7px;
}

.caro .item {
    margin: 11px;
}

a.nav-link:hover {
    color: #08a1a3 !important;
}

.navbar-nav li {
    margin-right: 50px;
    font-size: 14px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    padding: 0;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-family: "Poppins SemiBold", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
}

#metiers .mb-4,
.my-4 {
    margin-bottom: 0 !important;
}

.submenu {
    position: fixed;
    background-color: #FFFFFF;
}

.nav-link:hover {
    color: #08A1A3 !important;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #08A1A3;
    transition: width .3s;
    margin-top: 5px!important;
}

.nav-link:hover::after {
    width: 19px;
    transition: width .3s;
    color: #08A1A3 !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    padding: 0;
    display: inline-block;
}

ul.navbar-nav li a.active {
    color: #08A1A3 !important;
}

ul.navbar-nav li a.active::after {
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    background: #08A1A3;
    transition: width .3s;
    margin-top: 5px!important;
}

#navbar-nav-mobile {
    margin-top: 0 !important;
    padding-top: 40px !important;
    /*height: 616px;*/
    margin-left: 18px;
}

.submenu {
    position: fixed;
    background-color: #FFFFFF;
    display: none;
    width: 211px;
    /*background-color: #FFFFFF;*/
}

.submenu-item {
    width: 211px;
    height: 44px;
    /* background-color: #FFFFFF; */
    border-bottom: 1px solid #f3f3f3;
}

.first-img-realisation {
    padding-top: 24px;
    margin-bottom: 75px;
}

.div-top-h-top-first .mobile-sss {
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
}

div#actualites .col-lg-4 {
    max-width: inherit !important;
}

.item-actu a:hover {
    text-decoration: none;
}

.submenu-item a {
    color: #002b5d;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.30px;
    line-height: normal;
    text-align: left;
    padding-left: 27px;
    text-decoration: none;
}

.submenu-item:hover {
    /* background-color: #08A1A3; */
    border-left: 4px solid #08A1A3;
    background: #fbfbfb;
}

li.submenu-item {
    transition: all ease-in-out .3s;
}

.submenu-item:hover a {
    color: #08A1A3 !important;
}

.nav-item:hover .submenu {
    display: block;
}

.separator {
    color: #28a1a2;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    background-color: #022c5b;
    margin-top: 100px;
}

.footer-copyright {
    background-color: #003063;
}

.footer-copyright img {
    width: 30%;
}

.marker {
    width: 18px;
    height: 25px;
    margin-right: 10px;
}

.ok {
    width: 17px;
    height: 14px;
    margin-right: 10px;
}

.title-first-item {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.42px;
    line-height: 23px;
}

.item-second-footer a {
    text-decoration: none;
    color: inherit;
}

.item-second-footer a,
a:hover,
a:focus {
    color: inherit !important;
}

.item-first-footer {
    margin-bottom: 3rem;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: 17px;
    text-align: center;
}

.item-second-footer {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: 23px;
    text-align: left;
}

.no-title {
    padding-top: 30px;
}

.item-third-footer {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 17px;
    text-align: left;
    color: #08a1a3;
}

.primary-color {
    background-color: #003063;
}

.icon-social a {
    text-decoration: none;
    color: inherit;
}

.icon-social a,
a:hover,
a:focus {
    color: inherit;
}

#myBtn {
    width: 35px;
    height: 35px;
    transition: opacity 0.5s ease-in-out;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    outline: none;
    font-size: 25px !important;
    /* color: #fff; */
    cursor: pointer;
    padding: 0 10px 10px 11px;
    /* box-shadow: 1px 1px 2px #000; */
    background-color: #08A1A3;
    opacity: 0;
    right: 20px;
}

.bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: #08A1A3;
    box-shadow: 0 3px 11px rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 0;
}

.bottom1 {
    background-color: #fff;
    border-right: 4px solid #08A1A3;
    padding-top: 10px;
}

.bottom2 {
    background-color: #fff;
    padding-top: 10px;
}

.text-phone-bottom {
    color: #002F65;
    padding-top: 10px;
    line-height: 21px;
}

.icon-h-bottom {
    display: block;
    margin: auto;
    width: 20px;
}

.number-phone-bottom {
    text-align: center;
    color: #002F65;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    font-family: "Poppins SemiBold", sans-serif;
}

.number-phone-bottom p {
    margin-bottom: 0;
}

#myBtn i {
    color: #ffffff;
    position: relative;
    right: 5px;
    bottom: 4px;
}

figure#zoom:after {
    content: "";
}

div#carousel-example-2 img {
    width: 100% !important;
    height: 350px;
}


/*#h-container .carousel-control-next,
.carousel-control-prev {
    display: none !important;
}*/

#carousel-example-2 .carousel-control-next {
    display: none;
}

div#carousel-example-2 {
    width: 80%;
    margin: 0 auto;
}

#h-container {
    position: relative;
    z-index: 100;
    height: 160px;
    padding-left: 0;
    padding-right: 0;
}

.div-top-h {
    height: 50px;
    width: 100%;
    display: inline-flex;
    font-size: 14px;
    letter-spacing: normal;
    /*interlettrage*/
    line-height: 21px;
    /*interligne*/
}

.div-top-h-top-first {
    background-color: #28a1a2;
}

.div-top-h-top-first p {
    /* margin: 4% auto auto 25%; */
    margin-top: 11px;
}

.div-top-h-top-second {
    color: #002F65;
    background-color: #E7EAEC;
}

.div-top-h-top-third {
    color: #002F65;
    background-color: #E7EAEC;
    /*padding-left: 140px;*/
}

.div-top-h-top-second p {
    margin: 4% auto auto auto;
}

.div-top-h-top-third p {
    margin: 4% auto auto auto;
}

.link-icon {
    display: inline-block;
    margin: 4% auto auto auto;
}

.link-icon i {
    color: #002B5D;
    font-size: 16px;
}

.contact-h {
    display: inline-flex;
}

.div-bottom-h {
    height: 110px;
    margin-left: 0;
}

.div-bottom-h-top-first {
    padding-right: 0;
}

.div-bottom-h-top-first img {
    margin-top: 15px;
    float: right;
}

.text-div-bottom-h-top-second {
    color: #002f65;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    font-family: "Poppins SemiBold", sans-serif;
    margin-bottom: 0;
}

.subtext-div-bottom-h-top-second {
    color: #6A6867;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    font-family: "Poppins SemiBold", sans-serif;
}

.div-bottom-h-top-second {
    display: inline-flex;
    padding-top: 30px;
    margin-left: 120px;
}

.icon-phone {
    width: 30px;
    height: 34px;
    display: block;
    float: left;
    margin-top: 5px;
}

.div-bottom-h-first img {
    /* padding-left: 155px;*/
    float: right;
}

.div-bottom-h-first {
    padding-top: 19px;
    padding-right: 0;
}

.number-phone {
    margin-left: 50px;
    color: #6A6867;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: left;
    font-family: "Poppins SemiBold", sans-serif;
}

.text-phone {
    color: #002F65;
    height: 100px;
    top: 15px;
    padding-top: 15px;
    line-height: 21px;
}

.text-phone a {
    text-decoration: none;
}

.text-phone a,
a:hover,
a:focus {
    color: inherit !important;
}

.text-phone p:first-of-type {
    color: #002f65;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: left;
    font-family: "Poppins SemiBold", sans-serif;
}

.div-bottom-h {
    height: 110px;
    width: 100%;
    display: inline-flex;
    top: 0;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: normal;
    /*interlettrage*/
    line-height: 21px;
    /*interligne*/
}

.div-bottom-h-second {
    padding-top: 23px;
    margin-left: 142px;
}

.icon-h {
    margin-right: 18px;
    margin-top: 4px;
}

.div-bottom-h-third {
    padding-top: 23px;
    max-width: 20%;
}

.div-bottom-h-fourth {
    padding-top: 23px;
    margin-left: -70px;
}

.marker-number {
    margin-left: 0;
}

#top-logo {
    width: 10%;
    display: none;
}


/*.header-banner {
    height: 755px;
    background: url("../images/banner.png") center top repeat;
    background-size: cover;
}

.header-banner {
    height: 755px;
    background: url("../images/banner.png") center top repeat;
    background-size: cover;
}*/

div#carouselExampleControls .carousel {
    width: 100% !important;
    height: auto !important;
}

.greenText {
    color: #08a1a3;
}

.text-banner {
    color: #002b5d;
    font-size: 57px;
    font-style: normal;
    letter-spacing: -1.08px;
    line-height: normal;
    margin-left: 588px;
    margin-top: 250px;
    position: absolute;
    top: 8px;
}

#mobile-navbar {
    display: none;
}

a.map-mobile {
    display: none;
}

.title-metier h1 {
    color: #002b5d;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -0.8px;
}

.text-metier {
    color: #002B5D;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: 1.5em;
    text-align: left;
}

.text-metier-contact {
    color: #08A1A3;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: normal;
    text-align: left;
    /* margin-top: 18px; */
}

.img-metier {
    /*  width: 313px;
    height: 348px;*/
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-plus {
    width: 41px;
    height: 49px;
    position: absolute;
    left: 280px;
    top: 264px;
    z-index: 1;
}

.hvr-rectangle-out:hover {
    color: #002B5D;
}

.txt-img-metier {
    width: 226px;
    color: #ffffff;
    position: absolute;
    /*top: 280px;*/
    bottom: 22px;
    left: 22px;
    z-index: 1;
}

.txt-img-metier p:first-of-type {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
}

.txt-img-metier p {
    font-family: "Poppins Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: normal;
    text-align: left;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 341px;
    height: 390px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 43, 93, 0.7);
}

.div-img:hover .overlay {
    opacity: 1;
}

.div-img:hover .txt-img-metier p:first-of-type {
    opacity: 1;
    color: #08A1A3;
}

.div-img:hover .txt-img-metier p {
    opacity: 1;
    color: #08A1A3;
}

.first-img-realisation-overlay:hover .overlay {
    opacity: 1;
}

.carousel {
    width: 380px;
    height: 250px;
}

.slide-home .carousel {
    width: 100%;
    height: auto;
}

.slide-home .carousel-control-next {
    left: 85%;
}


/* Make the image fully responsive */


/*.carousel-inner img:first-of-type {
    width: 100%;
    height: 250px;
}*/

.carousel-caption p:first-of-type {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    margin-bottom: 10px;
    padding-left: 20px;
    text-align: left !important;
}

.row-metiers {
    position: relative;
}

.row-metiers img:first-of-type {
    display: block;
    width: 100%;
}

.plus {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.plus-md {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.modal-dialog {
    max-width: 652px;
}

.modal-backdrop {
    background-color: #002B5D;
}

.modal-body-text {
    margin: 24px 103px 36px 103px;
    color: #002b5d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: normal;
    text-align: left;
}

.modal-body-image img {
    width: 100%;
}

.carousel-hide {
    display: none !important;
}

.overlay-caroussel {
    height: auto;
}

.title-actu {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.8px;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    color: #002B5D;
}

.item-actu {
    width: 100%;
    height: 500px;
    box-shadow: 0 3px 11px rgb(0 0 0 / 16%);
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.item-actu:hover .body-item-actu p:first-of-type {
    color: #28a1a2;
}

.item-actu:hover .img-actu-date {
    background-color: #002b5d;
}

.item-actu:hover .txt-suite {
    color: #28a1a2;
}

.first-img-actu {
    height: 224px;
    /* background: url("../images/img-actu-1.png") center top repeat; */
    background-size: cover;
}

.first-img-actu img {
    width: 100%;
    height: 100%;
}

.body-item-actu {
    text-align: center;
    margin: 48px 21px 17px 21px;
}

.body-item-actu p:first-of-type {
    margin-bottom: 23px;
    color: #002b5d;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.txt-actu {
    color: #6A6867;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.36px;
    line-height: 21px;
    text-align: center;
}

.img-actu-date {
    width: 65px;
    height: 57px;
    background-color: #28a1a2;
    margin-left: 15px;
    position: absolute;
    margin-top: -30px;
    padding-top: 10px;
    color: #fff;
}

.img-actu-date p:first-of-type {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.img-actu-date p {
    font-size: 9px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 13px;
    text-align: center;
    margin-bottom: -7px;
}

.txt-suite {
    color: #002b5d;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.24px;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
    margin-left: 200px;
    padding-bottom: 22px;
    display: inline-flex;
    padding-right: 7px;
}

#first-img-actu-mobile img {
    height: 100%;
}

#first-img-actu-mobile {
    height: auto;
}

#body-item-actu-mobile {
    height: auto;
    text-align: center;
}

#body-item-actu-mobile p {
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
}

#txt-suite-mobile {
    margin-top: 30px;
    margin-left: 0;
}

#img-actu-date-mobile {
    width: 46px;
    height: 46px;
    padding-top: 5px;
}

#img-actu-date-mobile p:first-of-type {
    font-size: 20px;
    margin-top: 0;
}

#carousel-inner-mobile-actualites {
    height: 400px;
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

#carousel-inner-mobile-actualites .carousel-item {
    height: auto;
}

.carousel-inner {
    overflow-y: hidden;
}

#txt-actu-mobile {
    margin-top: 0;
}

#carousel-indicators-mobile-actu {
    bottom: 160px;
}

#carousel-control-prev-mobile {
    margin-top: -137px;
}

#carousel-control-next-mobile {
    margin-top: -137px;
}

.carousel-hide-mobile {
    margin-top: 50px;
}

.rse-container {
    /* width: 65%; */
    /* height: 500px; */
    background: url(../images/bg-RSE.png) center top repeat;
    background-size: cover;
    justify-content: center;
    /* padding-top: 20px; */
    padding-top: 70px;
    margin: auto;
    padding-bottom: 70px;
}

p.dt-rse {
    width: 90%;
    margin: 0 auto;
}

.txt-rse p {
    margin-bottom: 44px;
}

.title-rse {
    width: 757px;
    height: 104px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 44px;
}

.title-rse p {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.8px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: none !important;
}

.txt-rse {
    width: 75%;
    height: auto;
    margin: 0 auto 15px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.txt-rse p:first-of-type {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.8px;
    line-height: normal;
    text-align: center;
}

.txt-rse p {
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 35px;
}

.box-rse {
    height: 311px !important;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(51, 123, 208, 0.2);
    color: #ffffff;
    padding-left: 19px;
    padding-right: 19px;
}

.txt-box-rse {
    text-align: center;
    padding: 20px !important;
}

.title-box-rse {
    padding-top: 14px;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px !important;
    margin-bottom: 28px;
    font-weight: bold;
}

.txt-box-rse p {
    font-size: 14.5px;
}

.title-box-rse p {
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: 30px;
    text-align: center;
    padding-top: 25px;
}

#myCarousel-mobile-actualites {
    margin-top: 20px;
    height: 400px !important;
}

#body-item-actu-mobile p {
    text-align: center;
}

.header-front {
    height: 186px;
    background: url("../images/slider.png") center top repeat;
    margin-top: auto;
    /*margin-bottom: 60px;*/
    background-size: cover;
}

.container-text-first-img-realisation {
    width: 468px;
    max-height: 368px;
    padding-left: 30px;
}

.title-first-img-realisation {
    color: #002b5d;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    text-align: left;
    margin-bottom: 24px;
}

.text-first-img-realisation strong {
    color: #002b5d;
    font-size: 14px;
    font-family: "Poppins Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    word-wrap: break-word;
}

.container-text-first-img-realisation p {
    color: #002b5d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.img-realisation img {
    width: 373px;
    height: 341px;
    float: left;
    padding-left: 0;
}

.div-rse {
    margin: auto;
}

.carousel-inner-mobile-rse {
    margin: auto;
}

.txt-rse p:first-of-type {
    font-size: 25px;
}

.txt-rse p {
    font-size: 17px;
}

.box-rse-mobile {
    margin: auto;
    width: 80%;
}

#carousel-indicators-mobile-rse {
    bottom: 15px;
}

#carousel-control-prev-mobile-rse {
    margin-top: auto;
}

#carousel-control-next-mobile-rse {
    margin-top: auto;
}


/*#carousel-control-next-mobile{
    display: none;
}*/


/*#carousel-control-prev-mobile{
    display: none;
}*/

.txt-first-img-realisation {
    color: #002b5d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.ul-propos li {
    color: #08A1A3;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.fb-linkedin {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.social-link {
    width: 130px;
    height: 55px;
    margin: auto;
    background-color: #08A1A3;
    padding-top: 14px;
    padding-left: 25px;
}

.profil-text {
    width: 279px;
    height: 73px;
}

.profil {
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
}

.name {
    color: #002b5d;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: normal;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.poste {
    font-family: "Poppins", sans-serif;
    color: #6a6867;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-top: 0;
}

.row-equipe {
    margin-top: 44px;
}

.container-equipe {
    position: relative;
}

.fb-linkedin {
    width: 20px !important;
    height: 20px !important;
}

#carousel-inner-mobile-equipe {
    height: 500px;
    box-shadow: 0 3px 11px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

#first-img-equipe-mobile img {
    height: 100%;
}

#first-img-equipe-mobile {
    height: 350px;
}

#social-link-mobile {
    height: 50px;
}

#profil-mobil {
    height: 100px;
}

#myCarousel-mobile-equipe {
    margin-top: 20px;
    height: auto !important;
}

.carousel-hide-mobile-equipe {
    display: none !important;
}

.row-img-gbonhi {
    margin-top: 37px;
}

.row-img-gbonhi img {
    height: auto;
    width: 100%;
    margin: auto;
}

.first-p {
    margin-top: 20px;
}

.second-p {
    margin-top: 20px;
}

.first-img-realisation {
    margin-top: 105px;
    background-color: #ecf1f5;
    height: 343px;
    justify-content: center;
}

.title-first-img-realisation {
    color: #002b5d;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    text-align: left;
    margin-bottom: 24px;
    margin-bottom: 26px !important;
}

.text-first-img-realisation strong {
    color: #002b5d;
    font-size: 14px;
    font-family: "Poppins Bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    word-wrap: break-word;
}

.container-text-first-img-realisation p {
    color: #002b5d;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 0;
}

#zoom {
    background-color: inherit;
    transition: transform .2s;
}

#zoom:hover .image {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

#zoom:hover .image {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

[class*=" imghvr-"],
[class*=" imghvr-"] {
    width: 350px!important;
}

.img-real1 {
    width: 410px;
    height: 375px;
    float: left;
}

.second-img-realisation {
    margin-top: 60px;
    background-color: #F7F8F9;
    padding-right: 20px;
    width: 987px;
    height: 343px;
    margin-left: 129px;
}

.container-text-second-img-realisation {
    width: 468px;
    height: 343px;
    margin-left: 30px;
    /*padding-top: 27px;*/
    float: left;
    padding-bottom: 10px;
    overflow: auto;
}

.clearfix-realisation {
    /*overflow: auto;*/
    width: 428px;
    height: 375px;
    float: left;
    margin-left: 30px;
}

.container-text-second-img-realisation p {
    color: #002b5d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.title-page {
    color: #002b5d;
    font-family: "Poppins Bold", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.8px;
    line-height: normal;
    text-align: left;
    margin-bottom: 74px;
}

#row-page-actualite {
    display: flex !important;
}

.first-img-realisation-propos {
    margin-top: 100px;
}

.first-img-realisation-propos img {
    width: 100%;
    height: 100%;
}

#bg-mobile-menu {
    /*background-color: #FFFFFF;*/
    padding-left: 30px;
}

#bg-mobile-submenu {
    /*background-color: #FFFFFF;*/
    padding-left: 30px;
}


/*.navbar-light .navbar-nav .nav-link {
    color: #002b5d !important;
}*/

#mobile-navbar {
    /*background-color: #FFFFFF !important;*/
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.navbar-nav .nav-mobile-link {
    color: #28a1a2 !important;
    font-size: 26px !important;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    display: block;
    padding: .5rem 1rem;
}

.collapse-mobile {
    height: 800px;
    margin-left: -30px;
}

.nav-item-mobile {
    margin-bottom: 50px;
    padding-top: 10px;
}

.dropdown-divider {
    height: 0;
    margin: auto;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    width: 435px;
}


/*.carousel-control-prev-icon{
    display: none;
}*/


/*.carousel-control-next-icon{
    display: none;
}*/

.collapse-mobile {
    background: #ffffff;
}

#mobile-navbar .nav-mobile-link:hover {
    position: fixed;
    z-index: 50;
    padding-bottom: 0;
}

.row-rse {
    width: 75%;
    margin: 40px auto;
}


/*.bottom-mobile{
    padding-bottom: 6.5rem !important;
}*/

#mobile-navbar .nav-mobile-link:hover {
    position: inherit;
    z-index: 0;
}

.dropdown-divider {
    margin-bottom: 30px;
}

.submenu-mobile li {
    display: none;
}

.img-plus-realisation {
    width: 41px;
    height: 47px;
    position: absolute;
    margin-left: -208px;
    margin-top: 168px;
}

.first-img-realisation-link-hide {
    display: none;
}

.first-img-realisation:first-child {
    margin-top: 100px;
}

#first-img-realisation-mobile {
    display: none;
}

.row-txt-equipe {
    margin-top: 100px;
}

#actualites {
    margin-top: 100px;
}

#contact {
    margin-top: 100px;
}

.card-location-contact {
    position: absolute;
    background-color: #FFFFFF;
    color: #002B5D;
    width: 239px;
    height: auto;
    top: 356px;
    /* margin-top: -342px; */
    padding-bottom: 0;
}

h3.item-third-footer {
    font-size: 30px;
    margin-bottom: 23px;
}

.text-center-xy {
    padding: 27px;
    text-align: center;
}

.telmail {
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
}

.card-tel-contact {
    position: absolute;
    background-color: #08A1A3;
    width: 239px;
    height: 200px;
    margin-top: -500px;
    margin-left: -83px;
}

.content-contact {
    /*width: 1116px;*/
    background-color: #F7F8F9;
    /*margin-top: 38px;*/
    padding-left: 27px;
    padding-right: 27px;
    border-color: #707070;
}

.btn-submit {
    background-color: #08a1a3;
    color: #FFFFFF;
    width: 270px;
    height: 54px;
    border: none !important;
    float: right;
    margin-bottom: 40px;
}

.form-control {
    width: 100%;
    height: 58px;
    border: #FFFFFF;
}

textarea {
    border: none!important;
    width: 100%!important;
    height: 242px!important;
    margin-top: 34px;
}

.contact-form {
    margin-top: 66px;
    padding-right: 100px;
}

.contact-form-img {
    width: auto;
    height: 100%;
}

.div-btn-submit {
    margin-top: 40px;
}

.container-img-detail-actu1 {
    width: 1116px;
    height: 431px;
}

.imgalaune {
    margin-bottom: 43px;
}

.first-img-detail-actualite {
    margin-top: 43px;
    width: 1116px;
    margin-left: 0;
}

.text-img-detail-actualite {
    padding-left: 0;
    padding-right: 0;
    padding-top: 43px;
}

.text-img-detail-actualite-2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 43px;
}

.text-img-detail-actualite p {
    color: #6a6867;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.28px;
    line-height: 24px;
    text-align: left;
}

.clearfix-actualite {
    overflow: hidden;
    width: 406px;
    height: 375px;
    float: left;
}

.img2-detail-actualite {
    width: 548px;
    height: 330px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.row-detail-actu-first {
    width: 100%;
}

.row-detail-actu-second {
    width: auto;
    height: 380px;
    float: right;
}

label {
    color: #002b5d;
    font-family: "Poppins Bold", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    text-align: left;
}

.first-img-detail-realisation {
    margin-top: 50px;
    background-color: #F7F8F9;
    width: 1116px;
    margin-left: 0;
}

.container-text-first-detail-realisation {
    width: 484px;
    margin-left: 45px;
    margin-top: 17px;
    margin-right: 29px;
}

.container-text-first-detail-realisation p {
    color: #002b5d;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 23px;
}

.vertical-line1 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 1632px;
    left: 50%;
}

.vertical-breadcrumb {
    border-left: 5px solid #088688;
    height: 30px;
    margin-left: 17px;
}

.second-img-detail-realisation {
    margin-top: 62px;
    width: 1116px;
    margin-left: 0;
}

.vertical-line2 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 172px;
    left: 50%;
    margin-top: 61px;
}

.other-img-detail-realisation {
    margin-top: 204px;
}

.vertical-line3 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 277px;
    left: 50%;
    margin-top: 49px;
}

.third-img-detail-realisation {
    margin-top: 62px;
    width: 1116px;
    margin-left: 0;
}

.vertical-line4 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 290px;
    left: 49.8%;
    margin-top: 55px;
}

.vertical-line5 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 258px;
    left: 49.8%;
    margin-top: -350px;
}

.five-img-detail-realisation {
    margin-top: 62px;
    width: 1116px;
    margin-left: 0;
}

p.title-first-img-realisation {
    font-size: 40px;
}

.vertical-line6 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 445px;
    left: 49.8%;
    margin-top: 57px;
}

.six-img-detail-realisation {
    margin-top: 98px;
    width: 1116px;
    height: 456px;
    padding-left: 15px;
}

.vertical-line7 {
    position: absolute;
    border-left: 2px solid #002b5d;
    height: 30px;
    left: 50%;
    margin-top: 20px;
}

.other1-img-detail-realisation {
    margin-top: 190px;
}

.text-img-detail-actualite-img {
    width: 100%;
    height: auto;
}

.text-img-detail-actualite {
    margin-top: 46px;
    padding-top: 0;
    /* background-color: #F7F8F9; */
}

.vl {
    border-left: 2px solid #002b5d;
    height: 103px;
    margin: auto;
}

.second-img-detail-realisation {
    padding-left: 0;
}

.img-second-img-detail-realisation {
    width: auto;
    height: 401px;
}

.img1-second-img-detail-realisation {
    width: 569px;
    height: 401px;
}

.vertical-margin3 {
    margin-top: 95px;
}

.img-second-img-detail-realisation-3 {
    margin-top: 160px;
}

.img-second-img-detail-realisation-4 {
    width: 100%;
    height: auto;
}

body.offcanvas-active {
    overflow: hidden;
}

.offcanvas-header {
    display: none;
}

#navbar-toggler-submenu {
    display: none;
}

.call-submenu i {
    font-size: 18px;
}

.main-breadcrumb {
    text-align: center
}

.breadcrumb-title {
    color: #ffffff;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 54px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: normal;
    margin-top: 30px;
}

.breadcrumb-ul {
    display: inline-flex;
    flex-direction: row;
    margin-left: -60px;
}

.breadcrumb-li {
    list-style: none;
}

.breadcrumb-li a {
    text-decoration: inherit;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 20px;
}

.breadcrumb-li-here a {
    color: #002b5d !important;
}

.here {
    pointer-events: none;
    cursor: default;
}

.logo-menu-mobile {
    width: 200px;
}

#metiers {
    margin-top: 16px;
}

.nav-pills {
    counter-reset: number;
    padding: 12px 0;
}

.nav-pills>li>a:before {
    content: counter(number);
    counter-increment: number;
}

.carousel-control-prev {
    left: -57px;
    text-decoration: none;
}

.carousel-control-next {
    left: 380px;
    text-decoration: none;
}

.carousel-control-prev span {
    color: #088688;
}

.carousel-control-next span {
    color: #088688;
}


/*#navbar-nav-mobile > li:last-child > a:before {
    content: "";
    display: block;
    padding-bottom: 10px;
    border-top: 1px solid #888888;
}*/


/*ACCORDION*/


/*FIN ACCORDION*/


/*
.carousel-hide-mobile-equipe{
    display: none !important;
}
*/


/*.carousel-hide-mobile-actualites{
    display: none !important;
}*/


/*.txt-know{
    padding-top: 10px;
}*/


/*.div-info{
    width: 180px;
    margin-left: 30px;
}*/


/*
.div-bottom-h{
    height: 110px;
    width: 100%;
    display: inline-flex;
    top: 0;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: normal; !*interlettrage*!
    line-height: 21px; !*interligne*!
}
.div-bottom-h-top-second{
    color: #002F65;
    line-height: 21px;
    padding-left: 155px;
    padding-top: 35px;

}
.div-bottom-h-top-second p:first-of-type{
    color: #002F65;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: left;
    font-family: "Poppins SemiBold",sans-serif;
    margin-left: 20px;
    margin-bottom: 0;

}
.div-bottom-h-top-second p{
    color: #6A6867;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 600;
    text-align: left;
    font-family: "Poppins SemiBold",sans-serif;
    margin-left: 20px;
}
.div-bottom-h-top-second img{
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 15px;
    margin-top: 6px;

}
.div-bottom-h-top-first img{
    display: block;
    margin: 4% auto auto auto;
    float: right;
}
#div-h-marker{
    margin-left: -60px;
}
#div-h-marker img{
    width: 25px;
    height: 33px;
}*/


/*.item-first-div-bottom-h-top-second img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
}*/


/*MEDIA QUERY*/

@media screen and (min-width: 576px) {
    .item-third-footer {
        text-align: match-parent;
    }
    .div-top-h-top-second {
        text-align: center;
    }
    .box-rse {
        height: 370px !important;
        width: 100%;
    }
    .txt-suite {
        color: #002b5d;
        font-family: "Poppins SemiBold", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: -0.24px;
        line-height: normal;
        text-align: left;
        margin-top: 20px;
        margin-left: 175px;
        padding-bottom: 22px;
        display: inline-flex;
        padding-right: 7px;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .div-bottom-h-top-first img {
        margin-top: 26px;
        width: 197px;
    }
    .first-header-bottom img {
        width: 40%;
        margin: auto;
        display: block;
    }
    .div-bottom-h-second {
        margin-left: 0;
    }
    .text-banner {
        font-size: 38px;
        margin-top: 298px;
        margin-left: 33%;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    /* .div-top-h-top-second p {
        margin: 4% auto auto auto;
    }*/
}

@media screen and (max-width: 576px) {
    .btn-mobile {
        display: block !important;
    }
    .text-metier {
        font-size: 17px;
    }
    .box-rse {
        height: 370px !important;
        width: 100%;
    }
    .main-breadcrumb .breadcrumb-li a {
        font-size: 15px;
    }
    .title-page {
        font-size: 20px;
        line-height: 27px !important;
        margin-bottom: 11px;
    }
    .text-center-xy {
        padding: 10px;
        text-align: center;
    }
    .card-tel-contact {
        position: absolute;
        background-color: #08A1A3;
        width: 204px;
        height: 160px;
        margin-top: -511px;
        margin-left: -32px;
    }
    .txt-suite {
        color: #002b5d;
        font-family: "Poppins SemiBold", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: -0.24px;
        line-height: normal;
        text-align: left;
        margin-top: 20px;
        margin-left: 175px;
        padding-bottom: 22px;
        display: inline-flex;
        padding-right: 7px;
    }
    .div-top-h-top-second {
        text-align: center;
    }
    p.map-hh {
        display: none;
    }
    div#carouselExampleControls img {
        height: 217px;
        width: 100%;
    }
    div#footer {
        background: #002b5d;
        color: white;
        padding-bottom: 65px;
        padding-top: 65px;
        text-align: center;
    }
    .restons-co ul li::after {
        content: "";
        width: 80%;
        height: 0.3%;
        position: absolute;
        background: #ffffff1c;
        bottom: -15px;
        left: 38px;
    }
    .div-top-h-top-first p {
        display: none;
    }
    span.mobile-sss {
        display: block;
    }
    a.map-mobile {
        display: block;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    /*.div-top-h-top-second p {
        margin: 15px auto auto auto;
    }*/
    .row-actualites {
        display: none !important;
    }
    #txt-suite-mobile {
        margin: 20px auto !important;
    }
    .txt-know {
        padding-top: 10px;
    }
    /*#carousel-inner-mobile-actualites {
        height: 400px;

    }*/
    #carousel-inner-mobile-rse {
        /*margin-top: 70px;*/
    }
    .div-top-h {
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .item-third-footer {
        text-align: match-parent;
    }
    .txt-suite {
        color: #002b5d;
        font-family: "Poppins SemiBold", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: -0.24px;
        line-height: normal;
        text-align: left;
        margin-top: 20px;
        margin-left: 175px;
        padding-bottom: 22px;
        display: inline-flex;
        padding-right: 7px;
    }
    .div-top-h-top-second {
        text-align: center;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .div-bottom-h-top-first img {
        margin-top: 26px;
        width: 197px;
    }
    .div-bottom-h-second {
        margin-left: 0;
    }
    .text-banner {
        font-size: 37px;
        margin-top: 298px;
        margin-left: 36%;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    .carousel-hide-metier {
        display: none !important;
    }
    .carousel-hide-equipe {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .btn-mobile {
        display: block !important;
    }
    .main-breadcrumb .breadcrumb-li a {
        font-size: 15px;
    }
    .title-page {
        font-size: 20px;
        line-height: 27px !important;
        margin-bottom: 11px;
    }
    .card-tel-contact {
        position: absolute;
        background-color: #08A1A3;
        width: 204px;
        height: 160px;
        margin-top: -511px;
        margin-left: -32px;
    }
    .text-metier {
        font-size: 17px;
    }
    .lien-utiles ul li::before {
        display: none;
    }
    .txt-suite {
        color: #002b5d;
        font-family: "Poppins SemiBold", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: -0.24px;
        line-height: normal;
        text-align: left;
        margin-top: 20px;
        margin-left: 175px;
        padding-bottom: 22px;
        display: inline-flex;
        padding-right: 7px;
    }
    .div-top-h-top-second {
        text-align: center;
    }
    p.map-hh {
        display: none;
    }
    div#carouselExampleControls img {
        height: 217px;
        width: 100%;
    }
    div#footer {
        background: #002b5d;
        color: white;
        padding-bottom: 65px;
        padding-top: 65px;
        text-align: center;
    }
    .restons-co ul li::after {
        content: "";
        width: 80%;
        height: 0.3%;
        position: absolute;
        background: #ffffff1c;
        bottom: -15px;
        left: 38px;
    }
    span.mobile-sss {
        display: block;
    }
    a.map-mobile p {
        font-size: 13px;
    }
    a.map-mobile {
        display: block;
    }
    .div-top-h-top-first p {
        display: none;
    }
    .lien-utiles ul li::before {
        display: none;
    }
    .item-third-footer {
        text-align: match-parent;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .text-banner {
        font-size: 23px;
        margin-top: 192px;
        margin-left: 43%;
        line-height: 29px;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    .carousel-hide-metier {
        display: flex !important;
    }
    .row-actualites {
        display: none;
    }
    .row-rse {
        display: none;
    }
    .carousel-hide-equipe {
        display: none !important;
    }
    .div-top-h-top-third {
        padding-left: 0;
    }
}

@media screen and (min-width: 992px) {
    .item-third-footer {
        text-align: match-parent;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .text-banner {
        font-size: 45px;
        margin-top: 298px;
        margin-left: 40%;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    /*.div-top-h-top-second p{
        margin: 4% auto auto 54px;
    }*/
    .carousel-hide-metier {
        display: none !important;
    }
    .carousel-hide-mobile {
        display: none !important;
    }
    .txt-suite {
        margin-left: 150px;
    }
    .carousel-hide-mobile-actualites {
        display: none !important;
    }
    .carousel-hide-mobile-rse {
        display: none !important;
    }
    .bottom {
        display: none;
    }
    .div-bottom-h-first img {
        /*padding-left: 0;*/
    }
    .div-bottom-h-fourth {
        margin-left: 0;
    }
    .div-bottom-h-second {
        /*  padding-top: 23px;
        margin-left: 48px;*/
    }
}

@media screen and (max-width: 992px) {
    .rs-copyright {
        text-align: center !important;
    }
    .div-top-h-top-second {
        text-align: center;
    }
    .main-breadcrumb .breadcrumb-li a {
        font-size: 15px;
    }
    .title-page {
        font-size: 20px;
        line-height: 27px !important;
        margin-bottom: 11px;
    }
    .breadcrumb-title {
        font-size: 33px;
    }
    #top-logo {
        display: block;
    }
    #mobile-navbar {
        display: block;
    }
    #pc-navbar {
        display: none;
    }
    .navbar {
        padding-left: 30px;
    }
    .row-metiers {
        display: none;
    }
    .carousel-hide-metier {
        display: flex !important;
    }
    .row-actualites {
        display: none;
    }
    .body-item-actu p:first-of-type {
        font-size: 18px;
    }
    .txt-actu {
        font-size: 16px;
    }
    .title-actu {
        margin-top: 40px;
    }
    .txt-rse {
        width: inherit;
    }
    .row-rse {
        display: none !important;
    }
    .rse-container {
        padding-top: 1px;
        padding-bottom: 40px;
        height: auto;
        /*height: 580px;*/
    }
    .row-equipe {
        display: none !important;
    }
    .carousel-hide-mobile-equipe {
        display: flex !important;
    }
    .div-bottom-h-second {
        display: none;
    }
    .div-bottom-h-third {
        display: none;
    }
    .div-bottom-h-fourth {
        display: none;
    }
    .div-bottom-h-first img {
        display: block;
        padding-left: 0;
        margin: auto;
        float: inherit;
    }
    .contact-h {
        display: none;
    }
    .div-top-h-top-third {
        text-align: center;
        font-size: 30px;
        padding-top: 2px;
    }
    a.map-mobile p {
        font-size: 13px;
    }
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: inherit;
        transition: inherit;
        margin-top: inherit !important;
    }
    .txt-copy {
        position: relative;
        top: 16px;
        /* color: white; */
        text-align: center;
    }
    .div-top-h-top-first p {
        margin-left: auto;
        font-size: 15px;
        color: white;
    }
    .first-img-realisation {
        height: auto;
    }
    .title-first-img-realisation {
        margin-top: 30px;
        font-size: 23px !important;
    }
    .img-plus-realisation {
        display: none;
    }
    .first-img-realisation-link-hide {
        display: flex;
    }
    .first-img-realisation-link {
        display: none;
    }
    #first-img-realisation-pc {
        display: none;
    }
    #first-img-realisation-mobile {
        display: flex;
    }
    .contact-form-img {
        width: 100%;
    }
    .contact-form {
        padding-right: 0;
    }
    .div-btn-submit {
        text-align: center;
    }
    .btn-submit {
        float: inherit;
    }
    .row-detail-actu {
        margin-right: 0;
        margin-left: 0;
    }
    .text-img-detail-actualite {
        padding-left: 15px;
        padding-right: 15px;
    }
    .text-img-detail-actualite-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .img2-detail-actualite {
        width: 100%;
    }
    .row-detail-actu-second {
        width: 100%;
    }
    .bg-text-img-detail-actualite {
        margin-bottom: 0 !important;
    }
    .bg-text1 {
        margin-top: 0;
    }
    .img-second-img-detail-realisation {
        width: 100%;
        height: auto;
    }
    .img1-second-img-detail-realisation {
        width: 100%;
        height: auto;
    }
    .other-img-detail-realisation {
        margin-top: 0;
    }
    .other1-img-detail-realisation {
        margin-top: 62px;
    }
    .img-second-img-detail-realisation-3 {
        margin-top: 62px;
    }
    .offcanvas-header {
        display: block;
    }
    .offcanvas-header {
        display: block;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: white;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
    .btn-close {
        color: #fff;
        background-color: #002b5d;
        border-color: #002b5d;
    }
    .btn-close:hover {
        color: #fff;
        background-color: #08a1a3;
        border-color: #08a1a3;
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    .navbar-nav .nav-link {
        color: #08a1a3 !important;
        display: block;
        padding: .5rem 1rem .5rem 0;
        font-size: 24px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #FFFFFF;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;
    }
    .navbar-nav li {
        font-size: 18px;
    }
    .nav-link:hover::after {
        transition: inherit;
    }
    .dropdown {
        cursor: pointer;
    }
    .vertical-line1 {
        display: none;
    }
    .text-blue {
        color: #002b5d !important;
        padding: .5rem 1rem .5rem 0;
        font-size: 24px;
        display: inline-flex;
    }
    .dropdown-toggle::after {
        content: inherit;
    }
    .main_nav_submenu li a {
        color: #08a1a3;
    }
    .return-submenu i {
        font-size: 18px;
    }
    .nav-item-submenu {
        margin-left: 41px;
    }
    .bottom-mobile {
        padding-bottom: 5.5rem !important;
    }
    .dropdown-mobile {
        margin-top: 80px;
    }
    #main_nav_submenu ul .nav-item-submenu {
        border-bottom: 1px solid rgba(8, 161, 163, 0.5);
        width: 25%;
    }
    #main_nav_submenu ul .nav-item-submenu:nth-child(4n+1):nth-last-child(-n+4),
    .nav-item-submenu:nth-child(4n+1):nth-last-child(-n+4)~.nav-item-submenu {
        border: none;
    }
    #main_nav ul .main-nav-item {
        border-bottom: 1px solid rgba(8, 161, 163, 0.5);
    }
    #main_nav ul .main-nav-item:nth-child(4n+1):nth-last-child(-n+4),
    li:nth-child(4n+1):nth-last-child(-n+4)~li {
        border: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        margin-top: 20px;
    }
    /*.item-actu {
        box-shadow: inherit;
    }*/
    .item-actu-actualite {
        box-shadow: 0 3px 11px rgba(0, 0, 0, 0.16);
    }
    /*.breadcrumb-title {
        margin-top: 50px;
    }*/
}

@media screen and (min-width: 1200px) {
    .item-third-footer {
        text-align: match-parent;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .text-banner {
        font-size: 62px;
        margin-top: 262px;
        margin-left: 42%;
    }
    #row-banner {
        margin-right: 0;
        margin-left: 0;
    }
    .txt-suite {
        margin-left: 200px;
    }
    .div-top-h-top-third {
        padding-left: 140px;
    }
}

@media screen and (max-width: 1200px) {
    .overlay {
        width: 292px;
        height: auto;
    }
}


/*INTERVAL BETWEEN MEDIA QUERY*/

@media screen and (max-width: 575px) {
    .btn-mobile {
        display: block !important;
    }
    .box-rse {
        height: 370px !important;
        width: 100%;
    }
    .item-third-footer {
        text-align: match-parent;
    }
    .item-second-footer {
        text-align: match-parent;
    }
    .div-bottom-h-second {
        margin-left: 0;
    }
    .row-metiers {
        display: none;
    }
    .row-equipe {
        display: none;
    }
}


/*BACK-END STYLESHEET*/

.login-card {}